::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--subtle-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--subtle-hover-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--intro-block-color);
}
